*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
html{
    height:100%;
}
body{
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    background-image: url(../IMG/wallhaven-4y51vl.jpg);
    background-size:cover;
    background-attachment:fixed;   
}
.site-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
    width:100%;
}
.emptyspace{
    height:7vh;
    width:100%;
}
.navbar{
    height:30px;
    width:60%;
    max-width:1000px;
    min-width: 611px;
    color: white;
}
.navlinks{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    white-space:nowrap;
    height:100%;
    width:60%;
}
.navlinks li{
    display:inline-block;
    list-style: none;
    font-size:1.4rem;
    font-weight:bold;
    color:rgba(255,255,255,1);
    transition: all .5s ease;
}
.navlink{
    text-decoration: none;
    color:inherit;
}
.currentpage{
    color:rgb(199, 103, 103);
    text-decoration:none;
    font-size:1.6rem;
}
.navlinks hr{
    height:1px;
    color:rgba(255,255,255,0.3);
}
.index-main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    min-height:820px;
}
.index-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:60%;
    max-width:1000px;
    min-width: 611px;
    height:820px;
    color:white;
    text-align:center;
    background: rgba(0,0,0,0.5);
}
.centeredcontainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:60px;
}
.indextextcontainer{
    width:80%;
}
.index-content h1{
    font-size:3rem;
}
.index-content a{
    font-size:3rem;
    color:white;
}
.profilepic{
    max-width:300px;
    object-fit: contain;
    align-self:center;
    border-radius:50%;
}
.medialinks{
    text-align:Center;
}
.medialinks a{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.aboutme-main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    min-height:900px;
}
.aboutme-aside{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background: rgba(0,0,0,0.5);
    min-width:250px;
    width:100%;
    max-width:300px;
    height:100%;
}
.aboutme-aside hr{
    height:1px;
    margin-top:1rem;
    color:rgba(255,255,255,0.3);
}
.aboutme-aside li{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.aboutme-content{
    display:flex;
    flex-direction:row;
    width:80%;
    max-width:1200px;
    min-width: 611px;
    height:900px;
    color:white;
    text-align:center;
    background: rgba(0,0,0,0.5);
}
.aboutme-content p{
    margin-top:1rem;
    padding-left:2rem;
    padding-right:2rem;
}
.profilepicaboutme{
    margin-top:30px;
    max-width:200px;
    align-self:center;
    border-radius:50%;
}
.aboutmetextcontainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:1.6rem;
}
.aboutmetextcontainer hr{
    width:90%;
}
.cvlist{
    list-style:none;
    text-align:center;
}
.skills{
    margin-top:3rem;
}
.skillslist{
    list-style:none;
    text-align:center;
}
.learning{
    margin-top:3rem;
}
.learninglist{
    list-style:none;
    text-align:center;
}
.projects-main{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    min-height:850px;
}
.projects-content{
    display:flex;
    flex-direction:column;
    width:60%;
    height:90%;
    max-width:1000px;
    min-width: 611px;
    min-height:200px;
    color:white;
    text-align:center;
    background: rgba(0,0,0,0.5);
    overflow:auto;
}
.projects-content h1{
    padding-top:30px;
}
.projects-content img{
    max-width:500px;
    padding-top:10px;
}
.projects-content hr{
    color:rgba(0, 0, 0, 0.5);
}
.project{   
    padding-top:20px;
    padding-bottom:20px;}
.checks{
    display:none;
}
.texttohide{
    width:80%;
    margin:auto;
    display:none;
}
label{
    display:inline-block;
    text-decoration:underline;
    cursor:pointer;
    color:rgb(199, 103, 103);
}
.readless{
    display:none;
}
#check1:checked ~ .project1text{
    display:block;
}
#check1:checked ~ .readmore1{
    display:none;
}
#check1:checked ~ .readless1{
    display:block;
}
#check2:checked ~ .project2text{
    display:block;
}
#check2:checked ~ .readmore2{
    display:none;
}
#check2:checked ~ .readless2{
    display:block;
}
#check3:checked ~ .project3text{
    display:block;
}
#check3:checked ~ .readmore3{
    display:none;
}
#check3:checked ~ .readless3{
    display:block;
}
.lorem-main{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:100%;
}
.lorem-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:60%;
    max-width:1000px;
    min-width: 611px;
    max-height: 1200px;
    min-height:300px;
    color:white;
    text-align:center;
    background: rgba(0,0,0,0.5);
    overflow:auto;
}
.loremtextcontainer{
    height:auto;
    min-height:620px;
    width:80%;
    margin-top:20px;
}
.contactme-main{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    min-height:420px;
}
.contactme-content{
    display:flex;
    flex-direction:column;
    align-items:Center;
    justify-content:center;
    width:60%;
    max-width:1000px;
    min-width: 611px;
    height:480px;
    color:white;
    background: rgba(0,0,0,0.5);
}  
.contactme-inputcontainer{
    margin-top:20px;
}
.contactme-inputcontainer input{
    margin-top:5px;
}
.smallinput{
    width:400px;
    height:25px;
}
.largeinput{
    width:400px;
}
#submitinput{
    margin-top:10px;
    display:block;
    width:130px;
    height:30px
}
@media only screen and (max-width: 610px) {
    html{
        font-size:0.75rem;
    }
    .emptyspace{
        display:none;
    }
    .navbar{
        display:flex;
        justify-content:Center;
        min-width:100vw;
        height:40px;
        color: white;
    }
    .navlinks{
        display:flex;
        flex-direction:row;
        justify-content:Center;
        white-space:nowrap;
        width:60%;
    }
    .navlinks li{
        display:inline-block;
        list-style: none;
        font-size:1.4rem;
        margin-top:3%;
        color:rgba(255,255,255,1);
        padding-left:1%;
        padding-right:1%;
        height:100%;
    }
    .navlink{
        text-decoration: none;
        color:inherit;
    }
    .navlink i{
        display:none;
    }
    .currentpage{
        color:rgb(199, 103, 103);
        font-size:1.4rem;
    }
    .mobile-main{
        display:flex;
        flex-direction:column;
        width:100%;
        min-width:300px;
        height:100vh;
        min-height:500px;
    }
    .mobile-content{
        width:100vw;
        min-width:300px;
        height:100vh;
        max-height:100vh;
        min-height:500px;
        color:white;
        text-align:center;
    }
    .index-content h1{
        font-size:2rem;
    }
    .index-content a{
        font-size:3.6rem;
        color:white;
    }
    .centeredcontainer{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .indextextcontainer{
        width:80%;
    }
    .profilepic{
        width:300px;
        align-self:center;
        clip-path:circle();
    }
    .medialinks{
        display:flex;
        flex-direction:row;
        justify-content:center;
    }
    .medialinks a{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .projects-content{
        max-height:100vh;
    }
    .project img{
        width:90vw;
    }
    .profilepicaboutme{
        max-width:30vw;
    }
    .aboutme-content{
        max-height:100vh;
        overflow:auto;
    }
    .aboutme-aside{
        min-height:750px;
        height:100%;
        min-width:150px;
        font-size:1.2rem;
    }
    .smallinput{width:90vw;}
    .largeinput{width:90vw;}
  }
  @media only screen and (min-width: 611px) {
    .navlinks li:hover{
        font-size:1.6rem;
        color:rgb(177, 126, 126);
    }
  }